@{
    Layout = "_Layout";
    ViewData["Title"] = "User panel";
}

<link href="~/css/panel.css" rel="stylesheet" />

<h2>Administrator Panel</h2>
<hr />
<ul class="action-container">
    <li><a asp-action="UserList" asp-controller="Admin">Manage users</a></li>
    <li><a asp-action="RoleList" asp-controller="Admin">Manage roles</a></li>
</ul>
<p>User count : @ViewBag.userCount</p>
<p>Role count : @ViewBag.roleCount</p>