@{
    Layout = "_Layout";
    ViewData["Title"] = "Admin panel";
}

<style>
    .action-container {
        float: left;
        padding: 0;
        width: 20%;
        margin-right: 50px;
    }
    .action-container li {
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        list-style: none;
        background-color: #0594ff;
        margin-bottom: 8px;
    }
    .action-container li a {
        text-decoration: none;
        color: white;
    }

    .data-container {
        float: left;
    }

    p {
        margin-bottom: 5px;
    }
</style>

<h2>Administrator Panel</h2>
<hr />
<ul class="action-container">
    <li><a asp-action="UserList" asp-controller="Admin">Manage users</a></li>
    <li><a asp-action="RoleList" asp-controller="Admin">Manage roles</a></li>
</ul>
<p>User count : @ViewBag.userCount</p>
<p>Role count : @ViewBag.roleCount</p>