<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AlwaysCity Forum</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav>
        <ul class="navbar-custom">
            <li><a asp-action="" asp-controller="Home">AlwaysCity</a></li>
            <li><a asp-action="" asp-controller="Home">Home</a></li>
            <li><a asp-action="News" asp-controller="News">News</a></li>
            <li><a asp-action="Index" asp-controller="Forum">Forum</a></li>
            <li><a asp-action="Users">Users</a></li>
            <li><a href="#">Shoutbox</a></li>
            <li><a href="#">Contact</a></li>
            @if(User.Identity.IsAuthenticated) {
                <li class="float-right"><a asp-action="UserPanel" asp-controller="Account">Hello @User.Identity.Name!</a></li>
                <li class="float-right"><a asp-action="Logout" asp-controller="Account">Log out</a></li>
                if(User.IsInRole("Admin")) {
                    <li class="float-right"><a asp-action="Panel" asp-controller="Admin">Admin Panel</a></li>
                }
            }
            else {
                <li class="float-right"><a asp-action="Login" asp-controller="Account">Login</a></li>
                <li class="float-right"><a asp-action="Register" asp-controller="Account">Register</a></li>
            }
        </ul>
    </nav>
    <div class="main-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <footer>
            <div class="informations-main">More informations</div>
            <ul class="informations-list">
                <li>Advertise</li>
                <li>About Alwayscity</li>
                <li>Contact</li>
                <li>Help</li>
            </ul>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
