@{
    ViewData["Title"] = "Error";
}

<style>
    .more-info {
        margin-top: 20px;
    }
</style>

<h1 class="text-danger">Error</h1>
<hr />
<p>@ViewBag.Message</p>
<p class="more-info">If you can not solve the problem, write an email to support : support@@alwayscity.com</p>