@model string

@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit email";
}

<h2>Edit email</h2>
<hr />
<form method="post">
    <div class="form-group">
        <label>Enter new email</label>
        <input name="email" />
    </div>
    <input type="submit" value="Confirm" />
</form>