@{
    Layout = "_Layout";
    ViewData["Title"] = "Email token sent";
}

<h2>Email change token sent</h2>
<hr />
<p>Email has been sent. Check your email to confirm your change. If you can't find the message check spam folder or click resend button</p>