@model IEnumerable<ForumPost>

@{
    Layout = "_Layout";
}

<a asp-action="AddPost" asp-controller="Forum" asp-route-id="@ViewBag.sectionId" class="btn-info" style="padding: 10px; margin-bottom: 10px">Add post</a>
<hr />
@foreach(var post in Model) {
    <div>
        <a asp-action="Post" asp-controller="Forum" asp-route-name="@post.Title" asp-route-id="@post.Id" class="section-topic"><h3>@post.Title</h3></a>
    </div>
}