@model IEnumerable<ForumThread>

@{
    Layout = "_Layout";
}

@if(User.IsInRole("Admin") || User.IsInRole("Editor")) {
    <a asp-action="AddSection" asp-controller="Forum" class="btn-info" style="padding: 10px; margin-bottom: 10px">Add section</a>
    <hr />
}
@foreach(var thread in Model) {
    <div>
        <a asp-action="Section" asp-controller="Forum" asp-route-name="@thread.Name" asp-route-id="@thread.Id" class="section-topic"><h3>@thread.Name</h3></a>
        <p>@thread.</p>
    </div>
}