@model IEnumerable<ArticleNews>

@{
    Layout = "_Layout";
    ViewData["Title"] = "News";
}

<style>
    ul {
        list-style: none;
    }

    .article-image {
        width: 200px;
        height: auto;
        margin-right: 10px;
        float: left;
    }

    .article-data-container {
        width: 100%;
        height: 30px;
    }

    .small-data {
        float: left;
        font-size: 0.9em;
        color: #777777;
    }

    .date {
        float: right;
    }

    .description {
        margin-top: 10px;
    }

    .btn-info {
        padding: 10px;
    }
</style>

@if(User.IsInRole("Editor")) {
    <a asp-action="AddNews" asp-controller="Editor" class="btn-info">Add new article</a>
    <hr />
}
<ul>
    <li>
        <img src="~/images/przemysl.jpg" class="article-image float-left" asp-append-version="true"/>
        <h3>Example title</h3>
        <div class="article-data-container">
            <p class="small-data">Author</p>
            <p class="small-data date">01-01-1970</p>
        </div>
        <p class="description">
            Contrary to popular belief, Lorem Ipsum is not simply random text. <br />
            It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
        </p>
    </li>
</ul>